@using SummonMyStrength.Api.Champions
@inject SummonMyStrength.Api.LeagueClient LeagueClient

<div class="champion-grid-item @(Selected ? "selected" : "") @(Disabled ? "disabled" : "")">
    <img alt="@Champion.Name" src="@LeagueClient.Champions.GetIconUrl(Champion)" @onclick="() => Disabled ? Task.CompletedTask : OnClick.InvokeAsync()">
    <div class="champion-name">@Champion.Name</div>
</div>

@code {
[Parameter]
public Champion Champion { get; set; }

[Parameter]
public bool Selected { get; set; }

[Parameter]
public bool Disabled { get; set; }

[Parameter]
public EventCallback OnClick { get; set; }
}
